{% extends "master.html" %}
{% block contenido %}

<h4>Venta</h4>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td><strong>Cliente: </strong> {{cliente.nombres}} {{cliente.apellidos}}</td>
                <td><strong>Cedula: </strong>{{cliente.cedula}}</td>
                <td><strong>Correo: </strong>{{cliente.correo}}</td>

            </tr>
        </thead>
    </table>

    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th scope="col">Codigo</th>
                <th scope="col">Titulo</th>
                <th scope="col">Tipo</th>
                <th scope="col">Autor</th>
                <th scope="col">Precio</th>
                <th scope="col">Operacion</th>
            </tr>
        </thead>
        <tbody>
            {% for libro in listaLibros %}
            <tr>
                <td class="table-success">{{libro.isbn}}</td>
                <td class="table-info">{{libro.nombre}}</td>
                <td class="table-primary">{{libro.tipo}}</td>
                <td class="table-secondary">{{libro.autor}}</td>
                <td class="table-secondary">{{libro.precio}}</td>
                <td class="table-warning">
                    <a class="btn btn-primary" href="{% url 'vender' cedula libro.isbn total %}"
                        role="button">Vender</a>


                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="container">
        <a class="btn btn-primary" href="{% url 'finVenta' cedula total %}" role="button">Finalizar Venta</a>
    </div>


</div>
{% endblock %}