<div class="card-header text-black bg-Secondary">
    <center>
            <h1><span style='font-size:50px;'>&#127980;</span>Universidad Nacional de Loja</h1>
            <p><span style='font-size:20px;'>&#128421;</span>Carrera: Ingeniería en Computacion</p>
            <p><span style='font-size:20px;'>&#128450;</span>Materia: Programación Avanzada - Programación Web</p>
            <p><span style='font-size:20px;'> &#128104;</span>Docente: Rene Guaman</p>
    </center>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #53718028;">
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbrext">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link fas fa-user" href="{% url 'autenticar' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-house-user" href="{% url 'homepage' %}">Indice</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-users" href="{% url 'clientes' %}">Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-book" href="{%  url 'libro' %}">Libro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-shopping-cart" href="{% url 'get_cliente' %}">Venta Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fas fa-user-times" href="{% url 'desautenticar' %}">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</div>