{% extends 'master.html' %}

{% block contenido %}

<div class="jumbotron jumbotron-fluid">
  <center>
    <h1>!Bienvenido a Mi Pagina!</h1>
  </center><br><br>
  <div class="container">
    <h4 class="display-6">Esque amar y leer no es igual. Amar es sufrir Leer es gozar. 
    </h4>
    <div class="d-flex flex-wrap flex-row">
      <div class="row col-md-3">
        <div class="card col-md-10">
          <ul class="list-group">
            <li class="list-group-item active">Lady Bird Johnson</li>
            <p>
              “Hay quienes no pueden imaginar un mundo sin pájaros;
              hay quienes no pueden imaginar un mundo sin agua; en lo que a mí se refiere,
              soy incapaz de imaginar un mundo sin libros”
            </p>
          </ul>
        </div>
      </div>
      <div class="row col-md-3">
        <div class="card col-md-10">
          <ul class="list-group">
            <li class="list-group-item active">Jorge Luis Borges</li>
            <p>
              “Cuando creces, hay dos instituciones que te afectan especialmente: 
              la Iglesia, que pertenece a Dios, y la biblioteca, que te pertenece a ti. 
              La biblioteca pública es enormemente igualitaria.”
            </p>
          </ul>
        </div>
      </div>
      <div class="row col-md-3">
        <div class="card col-md-10">
          <ul class="list-group">
            <li class="list-group-item active">Voltaire</li>
            <p>
              “Las Dos Leyes de la Catalogación de Shera: 
              Ley #1: Ningún catalogador aceptará el trabajo de cualquier otro 
              catalogador. 
              Ley #2: Ningún catalogador aceptará su propio trabajo seis meses después 
              de la catalogación.”
            </p>
          </ul>
        </div>
      </div>
      <div class="row col-md-3">
        <div class="card col-md-10">
          <ul class="list-group">
            <li class="list-group-item active">Albert Camus</li>
            <p>
              “¿Cómo ordenar este universo? La historia de las llamadas librerías y de 
              su catalogación lo demuestra: la biblioteca es un laberinto arbitrario en 
              el que el usuario debe rescatar cada libro de la categoría a la que ha sido 
              condenado durante su catalogación.”
            </p>
          </ul>
        </div>
      </div>
    </div>
    <p class="lead"></p>
    <hr class="my-4">
    <p><span style='font-size:20px;'>&#169;</span>2021 Mi Pagina Web. Todos los derechos reservados.2021</p>
  </div>
</div>
{% endblock %}